/* .page-enter {
  z-index:1001;
  opacity: 0;
  transform: translateY(50px);
}

.page-enter-active {
  z-index:1001;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
}

.page-exit {
  z-index:1001;
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  z-index:1001;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s, transform 0.3s;
} */

.page-enter {
  z-index: 1001;
  opacity: 0;
  transform: translateX(30px);
}

.page-enter-active {
  z-index: 1001;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s, transform 0.3s;
}

.page-exit {
  z-index: 1001;
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  z-index: 1001;
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.3s, transform 0.3s;
}

.page-exit-done {
  display: none;
}

.transition-group{

}