.page-enter {
  z-index:1001;
  opacity: 0;
  -webkit-transform: translateY(20px);
}

.page-enter-active {
  z-index:1001;
  opacity: 1;
  -webkit-transform: translateY(0);
  transition: opacity 0.4s, transform 0.4s;
}

.page-exit {
  z-index:1001;
  opacity: 1;
  -webkit-transform: translateY(-20px);
}

.page-exit-active {
  z-index:1001;
  opacity: 0;

}

/* .page-enter {
  z-index: 1001;
  opacity: 0;
  transform: translateX(30px);
}

.page-enter-active {
  z-index: 1001;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.4s, transform 0.4s;
}

.page-exit {
  z-index: 1001;
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  z-index: 1001;
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.4s, transform 0.4s;
}

.page-exit-done {
  display: none;
} */

.transition-group{

}